# snippet 

snippet sol
	\begin{solution}
		${1}
	\end{solution}

	\newpage

snippet int integral
	\int $1 \,d{$2}

snippet ii definite integral
	\int_{$1}^{$2} $3 \,d{$4}

snippet frac
	\frac{$1}{$2}
