# snippet 

snippet sol
	\begin{solution}
		${0}
	\end{solution}

	\newpage

snippet int integral
	\int $1 \,d{$2}

snippet ii definite integral
	\int_{$1}^{$2} $3 \,d{$4}

snippet frac
	\frac{$1}{$2}

snippet beg
	\begin{$1}
		$2
	\end{$1}

snippet ;m2 2x2 matrix
	\begin{bmatrix} ${1:1} & ${2:0} \\\\ ${3:0} & ${4:1} \end{bmatrix}
